<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skating club dashboard</title>
  </head>
  <body>
    <h1>Skating club dashboard</h1>

    <h2>Members Preview. Count: <%= members.length %></h2>
    <table>
      <tr>
        <th>Member ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Membership Status</th>
      </tr>

      <% members.forEach(member => { %>
      <tr>
        <td><%= member.member_id %></td>
        <td><%= member.first_name %> <%= member.last_name %></td>
        <td><%= member.email %></td>
        <td><%= member.phone %></td>
        <td><%= member.membership_status %></td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
